.tab-item {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: all .3s;
  margin: 0.5em;
  user-select: none;
}

.tab-item.active {
  color: #24c8db
}